@{
    ViewBag.Title = "À propos";
}

<hgroup class="title">
    <h1>Informations</h1>
    <h2>MyMovies</h2>
</hgroup>

<article>
    <h3>Le site</h3>
    <p>
        Le site MyMovies propose à ses utilisateurs de gérer en toute simplicité leur collection de films.
        Les collections sont privées et ne sont pas accessibles aux autres utilisateurs.
    </p>
    <p>
        Le site est entièrement gratuit et sans publicité. Les informations collectées ne sont pas revendues.
        Il s'agit d'une initiative privée dans le but d'explorer les possibilités offertes 
        par la technologie <mark>Asp.net MVC 4</mark> de Microsoft :)
    </p>

    <h3>Le webmaster</h3>
    <p>
        Gary Long, ingénieur logiciel.
    </p>
    <p>
        Bien que programmant principalement avec Java, 
        ma passion pour les nouvelles technologies et ma curiosité me poussent régulièrement 
        à tester de nouveaux orientations (langages, frameworks, etc.). 
    </p>
    <p>
        Pour ce site, j'ai décidé d'utiliser les technologies Web Microsoft. À terme, j'espère également pouvoir 
        proposer l'application MyMovies sur Windows 8 et sur Windows Phone, à fin de poursuivre mon exploration 
        de l'univers de développement Microsoft :)
    </p>
    
</article>

<aside>
    <h3>Liens</h3>
    <p>
        Pour en savoir plus, visitez les liens suivants.
    </p>
    <ul>
        <li><a href="http://blog.garylong.fr" title="le blog de Gary Long">Mon blog</a></li>
        <li><a href="http://www.viadeo.com/fr/profile/gary.long" title="Profil Viadeo de Gary Long">Mon profil Viadeo</a></li>
        <li><a href="http://www.linkedin.com/in/longgary" title="Profil LinkedIn de Gary Long">Mon profil LinkedIn</a></li>
    </ul>
</aside>